<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}ЗАИГРАВКА.БГ{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body id="{% block body_id %}{% endblock %}">
<div class="wraper">
    {% block header %}
        <header>
            <div class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a href="{{ path('homepage') }}" class="navbar-brand">ЗАИГРАВКА.БГ</a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            {% if true %}
                                {% if true %}
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                           aria-expanded="false">Настройки</a>
                                        <ul class="dropdown-menu" role="menu">

                                        </ul>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="{{ path('drawing') }}">
                                        Рисувай
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('coloring') }}">
                                        Оцветявай
                                    </a>
                                </li>
                                                                

                                <li>
                                    <a href="#">
                                        Профил
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Изход
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="#">
                                        РЕГИСТРАЦИЯ
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        ВХОД
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}

    <div class="container body-container">
        {% block body %}
            <div class="row">
                <div id="main" class="col-sm-9">
                    {% block main %}{% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
    <div class="push"></div>
</div>
{% block footer %}
    <footer>
        <div class="container modal-footer">
            <p>&copy; 2016 - zap4agite - All Rights Reserved</p>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
			  
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>

<script 
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"
  integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK"
  crossorigin="anonymous"></script>

{% endblock %}

</body>
</html>